﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>СОК Балтика - спортивно оздоровительный комплекс</title>
<!---css--->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!---css--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Gym  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<!---js--->
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<asp:ContentPlaceHolder id="HeadPlaceHolder" runat="server">
        
</asp:ContentPlaceHolder>
<script src="js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<!--JS for animate-->
	<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->
</head>
<body>
<!---header--->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header wow fadeInLeft animated animated" data-wow-delay="0.4s">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Навигация</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <h1><a class="navbar-brand" href="index"><img src="images/e.png"/> СОК Балтика</a></h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right wow fadeInRight animated animated" data-wow-delay="0.4s">
				<li class="active"><a class="nav-in" href="index"><span data-letters="Балтика">Балтика</span></a></li>				
				<li><a class="nav-in" href="class"><span data-letters="Услуги">Услуги</span></a></li>
				<li><a class="nav-in" href="photos"><span data-letters="Фото">Фото</span></a></li>
				<li><a class="nav-in" href="contact"><span data-letters="Контакты">Контакты</span></a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
		<!---content--->
        <asp:ContentPlaceHolder id="ContentPlaceHolder" runat="server">
        
        </asp:ContentPlaceHolder>
<!---footer--->
		<div class="footer-section">
			<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid wow fadeInDownBig animated animated" data-wow-delay="0.4s">
					<h4>О нас</h4>
					<p>спортивно-оздоровительном комплекс Балтика приглашает всех желающих  провести свободное время с пользой для Вашего здоровья.У нас можно арендовать залы по настольному теннису, боксу, борьбе,хоккею, тренажерный. Для иногородних размещение на территории комплекса.Доставка и встреча.</p>
				</div>
				<div class="col-md-3 footer-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
					<h4>Услуги</h4>
					<ul>
						<li>Хоккей</li>
						<li>Бокс</li>
						<li>Тренажерный зал</li>
						<li>Борьба</li>
						<li>Настольный теннис</li>
						<li>Сауна</li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
				<h4>Для иногородних</h4>
					<ul>
						<li>Размещение на территориии комплекса</li>
						<li>Доставка и встреча</li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
					<h4>Контакты</h4>
					<p>Космонавтов 34</p>
					<p>Барнаул, Алтайский край</p>					
					<p>Телефон: +7 913 215 9632</p>					
					<a href="mailto:example@mail.com"> пример@почтового.ящика</a>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>	
	<!---footer--->
	<!--copy-->
	<div class="copy-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
		<div class="container">
				<div class="social-icons">
					<a href="#"><i class="icon"></i></a>
					<a href="#"><i class="icon1"></i></a>
					<a href="#"><i class="icon2"></i></a>
					<a href="#"><i class="icon3"></i></a>
				</div>
			<p>&copy; 2016 Спортивно-оздоровительный комплекс Балтика| Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
	<!--copy-->
</body>
</html>
